body {
	background-color: darkblue;
	background-image: url("http://theaigames.com/img/background-blockbattle.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.player {
	position: relative;
}

.player > img {
	position: absolute;
	width: 60px;
	height: 140px;

	border: 15px solid grey;
	border-right: none;
	background-color: black;
}

.player > canvas {
	position: absolute;
	left: 75px;

	border: 15px solid grey;
}

.player > .stats {
	position: relative;

	top: 200px;
}

.player > .stats > .stat {
	margin-bottom: 1em;
	width: 75px;
	text-align: center;
}

#rounds {
	position: absolute;
	top: 10px;
	left: 350px;
	width: 100px;
	height: 50px;
}
