body {
	background-color: darkblue;
	background-image: url("http://theaigames.com/img/background-blockbattle.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

#nextBlockView {
	width: 50px;
	height: 120px;
	background-repeat: no-repeat;
}

.player {
	position: relative;
}

.player > img {
	width: 60px;
	height: 140px;

	border: 15px solid grey;
	border-right: none;
	background-color: black;
}

.player > canvas {
	border: 15px solid grey;
}
